{% extends "layout.html" %}

{% block title %}
   Workouts
{% endblock %}

{% block main %}
<form action="/addexercise" method="post">
<h1>{{day}}</h1>
<div class="mb-3">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" type="text" placeholder="Exercise name">
</div>
<div class="mb-3">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="muscles" type="text" placeholder="Targeted muscles">
</div>
<button type="submit" class="btn btn-warning" name="{{day}}" value="xd"><b>Add exercise</b></button>
</form>

{% endblock %}