<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action="/" method = 'post'>
                    <input autocomplete="off" autoselect type="text" placeholder="Name" name="name">
                    <input type="number" placeholder="Month" name="month">
                    <input type="number" placeholder="Day" name="day">
                    <button id="button">Add Birthday</button>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for x in birthdays %}
                            <tr>
                                <td>{{ x["name"] }}</td>
                                <td>{{ x["month"]}}/{{x["day"] }}</td>
                                <td><form method="post" action="/deregister" class="buttons">
                                    <input type="hidden" name="id" value="{{ x['id'] }}">
                                    <input type="submit" value="Delete">
                                </form>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
