{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for i in history %}
      <tr>
          <td>{{i.type}}</td>
          <td>{{i.symbol}}</td>
          <td>{{i.shares}}</td>
          <td>${{i.price}}</td>
          <td>{{i.date}}</td>
      </tr>
      {% endfor %}
    </tbody>

</table>


{% endblock %}